@model IList<AspNetMvcExamples.Models.ProductViewModel>
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm("Search", "Products", FormMethod.Get))
{
    @Html.TextBox("Name")
    @Html.TextBox("MinPrice")
    <button type="submit">
        Search
    </button>
}

@foreach (var p in Model)
{
    <h3>@p.Name</h3>
    <h6>@p.Price.ToString("N0") $</h6>
}

