@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "ManageProducts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        <!-- File Upload -->
        <div class="form-group">
            <input type="file" class="form-control" name="file" />
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </div>

}